<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.worktime.wear">
  <uses-feature android:name="android.hardware.type.watch" />
  <application android:label="Worktime Wear" android:icon="@mipmap/ic_launcher">
    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="true" />
    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="true" />

    <activity android:name=".MainWearActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
